In [1]:
import pandas as pd

In [2]:
pd.read_json("./dataset/train.json")

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

In [3]:
pd.read_json('https://api.exchangerate-api.com/v4/latest/INR')

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates
INR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-06-16,1718496001,1.0000
AED,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-06-16,1718496001,0.0439
AFN,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-06-16,1718496001,0.8500
ALL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-06-16,1718496001,1.1100
AMD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-06-16,1718496001,4.6500
...,...,...,...,...,...,...,...
XPF,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-06-16,1718496001,1.3300
YER,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-06-16,1718496001,3.0000
ZAR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-06-16,1718496001,0.2200
ZMW,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-06-16,1718496001,0.3140
ZWL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-06-16,1718496001,0.0416

In [4]:
import mysql.connector

In [11]:
conn = mysql.connector.connect(host='localhost',user='swabhav',password='swabhav',database='tsmdb', auth_plugin='mysql_native_password')

In [12]:
df = pd.read_sql_query("SELECT * FROM competency_feedbacks",conn)

C:\Users\Admin\AppData\Local\Temp\ipykernel_27964\918960541.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT * FROM competency_feedbacks",conn)

In [13]:
df.head()

,id,created_by,created_at,updated_by,updated_at,deleted_by,deleted_at,tenant_id,name,description,order
0,04478473-15d9-4704-a501-b7f56dc81db4,11111111-1111-1111-1111-111111111111,2023-03-24 13:12:12,00000000-0000-0000-0000-000000000000,2023-03-24 13:12:12,00000000-0000-0000-0000-000000000000,None,7ca2664b-f379-43db-bdf9-7fdd40707219,Adaptability and Cultural Awareness,Ability to adjust to changing circumstances an...,5
1,60ebdc29-3a77-4f8e-9f02-51c29794b88f,11111111-1111-1111-1111-111111111111,2023-03-24 13:11:03,11111111-1111-1111-1111-111111111111,2024-05-28 05:21:49,00000000-0000-0000-0000-000000000000,None,7ca2664b-f379-43db-bdf9-7fdd40707219,Problem Solution and Decision Making,Skills in devising effective solutions and mak...,3
2,691950f9-3b1b-4105-bed8-c9c527a7fe5b,11111111-1111-1111-1111-111111111111,2023-03-24 13:09:57,00000000-0000-0000-0000-000000000000,2023-03-24 13:09:57,00000000-0000-0000-0000-000000000000,None,7ca2664b-f379-43db-bdf9-7fdd40707219,Disciplinary Knowledge,Demonstrates expertise and proficiency in the ...,1
3,91462cf7-36d1-4eca-a5b4-271fb64cff36,11111111-1111-1111-1111-111111111111,2023-03-24 13:12:34,00000000-0000-0000-0000-000000000000,2023-03-24 13:12:34,00000000-0000-0000-0000-000000000000,None,7ca2664b-f379-43db-bdf9-7fdd40707219,Life long learning,Commitment to continuous learning and staying ...,6
4,973ab61b-87dd-4a94-bb05-17b601ed64d4,11111111-1111-1111-1111-111111111111,2023-03-24 13:11:50,00000000-0000-0000-0000-000000000000,2023-03-24 13:11:50,00000000-0000-0000-0000-000000000000,None,7ca2664b-f379-43db-bdf9-7fdd40707219,Technology / Domain-Specific Knowledge,Proficiency in the specific knowledge relevant...,4